.login-section {
  background: url("../../assets/images/Login-bg.svg");
  background-repeat: no-repeat;
  width: 100%;
}
.login-main-box {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.login-heading {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 117px;
  font-family: "Anybody", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 59px;
  text-align: center;
  color: #fff;
}

.ant-form-item-label > label {
  color: white !important;
  font-family: "Anybody", sans-serif;
}
.ant-form-item {
  margin-bottom: 15px;
}
.forgot-pass {
  font-family: "Anybody", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17.6px;
  text-align: right;
  color: #fff;
  margin: 0;
  cursor: pointer;
  z-index: 9;
  position: relative;
}
.ant-select-selector:hover,
.ant-select-selector:focus {
  border-color: white;
  box-shadow: none;
  font-family: "Anybody", sans-serif;
}

.ant-input::placeholder,
.ant-input-password input::placeholder {
  color: white !important;
  background: #141414 !important;
  font-family: "Anybody", sans-serif;
  opacity: 30%;
}

.ant-input {
  color: white !important;
  background: #141414 !important;
  height: 62px;
}

.ant-input {
  color: white !important;
  background: #141414 !important;
  height: 62px;
}

.ant-select-selection-item::placeholder {
  color: white;
  background: #141414;
}

.ant-input-password-icon {
  color: white !important; /* Change the color of the password visibility icon */
}

.submit-btn {
  background-color: #08ff96;
  color: #141414;
  margin-left: 0;
  font-family: "Anybody", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  padding: 22px 24px 22px 24px;
  gap: 10px;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #08ff96 !important;
  color: #141414 !important;
  border-color: #08ff96;
  margin-left: 0;
  font-family: "Anybody", sans-serif;
}

.ant-input-affix-wrapper {
  background-color: #141414;
}
.ant-input-affix-wrapper:hover {
  background-color: #141414;
}

//  animation on mainbox

.login-up-box {
  width: 641px;
  padding: 66px 75px 66px 75px;
  border-radius: 20px;
  border: 2px solid #08ff9654;
  margin: 0 auto 75px auto;
  background-color: #141414;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #08ff96;
  z-index: 1;
  position: relative;
}

.login-up-box::before {
  content: "";
  position: absolute;
  width: 641px;
  height: 415px;
  background-color: #000;
  box-shadow: 0 0 10px rgb(8, 8, 8);
  animation: animate 4s linear infinite;
  margin: 0 auto;
}

.login-up-box::after {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: #000;
  border: 3px solid #08ff96;
  z-index: -1;
  border-radius: 16px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ant-form-item-control-input-content {
  background: none !important;
}
