.bracket-tab-section {
  background: url("../../../assets/images/bracket-tab-bg.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 848px;
  background-size: contain;
}
.bracket-inner-section {
  padding: 63px 70px;
}
.bracket-tab-section-heading {
  width: 651px;
  font-family: "Anybody";
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  text-align: left;
  color: #08ff96;
}
.bracket-tab-section-para {
  width: 919px;
  height: 60px;
  font-family: "Anybody";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
.bracket-tab-section-link {
  font-family: "Anybody";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  a {
    color: #08ff96;
  }
}

.plateform-details {
  display: flex;
}

.player-detail-para {
  font-family: "Anybody";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}
.section2 {
  padding-left: 85px;
  margin-bottom: 50px;
  p {
    font-family: "Anybody";
    font-size: 20px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
    color: #fff;
  }
}
.section1 {
  margin-bottom: 50px;
  p {
    font-family: "Anybody";
    font-size: 20px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
    color: #fff;
  }
}
