.bracket-tab-section {
  border: 1px solid #05f38599;
  width: 100%;
}

.font-english .round-btn {
  width: 109px;
  height: 39px;
  padding: 9px 25px 9px 25px;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #08ff96;
  background: none;
  color: #fff;
  font-family: "Anybody";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.font-arabic .round-btn {
  width: 109px;
  height: 39px;
  padding: 9px 25px 9px 25px;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #08ff96;
  background: none;
  color: #fff;
  font-family: "Alexandria";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.bracket-heading-btn {
  margin-top: 70px;
  overflow-x: scroll;
}
.font-english .player-number {
  width: 49px;
  height: 49px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background-color: #08ff96;
  color: #141414;
  font-family: "Anybody";
  font-size: 24px;
  font-weight: 700;
  line-height: 24.84px;
  text-align: left;
}

.font-arabic .player-number {
  width: 49px;
  height: 49px;
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #08ff96;
  color: #141414;
  font-family: "Alexandria";
  font-size: 24px;
  font-weight: 700;
  line-height: 24.84px;
  text-align: left;
}
.team-members {
  margin-top: 68px;
}
.player-combination-section {
  width: 248px;
  height: 75px;
  border: 1px solid #363e3b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 15px 0;
}
.font-english .team-name {
  font-family: "Anybody";
  font-size: 24px;
  font-weight: 700;
  line-height: 24.84px;
  text-align: left;
  margin-left: 16px;
  color: #fff;
}

.font-arabic .team-name {
  font-family: "Alexandria";
  font-size: 24px;
  font-weight: 700;
  line-height: 24.84px;
  text-align: left;
  color: #fff;
  margin-left: 16px;
}

// before after image for partision of team
.main-team-members {
  position: relative;
}
.main-team-members::after {
  content: "";
  background-image: url(/src/assets/images/win-border.svg);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 222px;
  top: 50%;
  left: 50%;
  transform: translate(calc(100% - 38px), -50%);
}

.font-english .tournament-date {
  font-family: "Anybody";
  width: 348px;
  height: 20px;

  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #fff;
}
.font-arabic .tournament-date {
  font-family: "Alexandria";
  width: 348px;
  height: 20px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #fff;
}

.second-round-participant-main-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 1000px;
}
.second-round-team-members {
  margin-top: 0px;
  margin-left: 25px;
}
.second-round-participant-main-section {
  position: relative;
}

.second-round-participant-main-section::after {
  content: "";
  background-image: url(/src/assets/images/two-participant-img.svg);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 450px;
  top: 49%;
  left: 70%;
  transform: translate(calc(100% - 37px), -50%);
}

.third-round-participant-main-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 1000px;
  position: relative;
}

.third-round-participant-main-section::after {
  content: "";
  background-image: url(/src/assets/images/champion-img.svg);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 5px;
  top: 49%;
  left: 70%;
  transform: translate(calc(100% - 37px), -50%);
}

.third-round-section {
  margin-left: 38px;
  margin-bottom: 18px;
}

.champion-main-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 820px;
}
.champion-team-members {
  margin-left: 75px;
  margin-bottom: 35px;
}
.font-english .last-game-score-submission {
  font-family: "Anybody";
  font-size: 20px;
  font-weight: 400;
  line-height: 20.7px;
  text-align: left;
  color: #fff;
  margin-top: 56px;
}
.font-arabic .last-game-score-submission {
  font-family: "Alexandria";
  font-size: 20px;
  font-weight: 400;
  line-height: 20.7px;
  text-align: left;
  color: #fff;
  margin-top: 56px;
}
.font-english .champion {
  font-family: "Anybody";
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  line-height: 51.54px;
  text-align: center;
  color: #fff;
  margin-left: 8px;
}
.font-arabic .champion {
  font-family: "Alexandria";
  font-size: 35px;
  font-style: italic;
  font-weight: 700;
  line-height: 51.54px;
  text-align: center;
  color: #fff;
  margin-left: 8px;
}
