.forgot-pass-section {
  background: url("../../assets/images/Forgot-Password.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.forgot-main-box {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.forgot-pass-heading {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 117px;
  font-family: "Anybody", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 59px;
  text-align: center;
  color: #fff;
}

.forgot-pass-para {
  font-family: "Anybody", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.submit-btn {
  background-color: #08ff96;
  color: #141414;
  margin-left: 0;
  font-family: "Anybody", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  padding: 22px 24px 22px 24px;
  gap: 10px;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #08ff96 !important;
  color: #141414 !important;
  border-color: #08ff96;
  margin-left: 0;
  font-family: "Anybody", sans-serif;
}

.ant-input-affix-wrapper {
  background-color: #141414;
}
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:active,
.ant-input-affix-wrapper::before,
.ant-input-affix-wrapper::after {
  background-color: #141414;
}

.ant-input-number-input-wrap > input {
  color: white !important;
  background: #141414 !important;
  height: 62px;
}

.ant-input-number-handler {
  display: none !important;
}

.ant-input-number-handler-wrap {
  background: #141414 !important;
}

.ant-input-affix-wrapper::before {
  background-color: #141414 !important;
  color: #fff !important;
}

.ant-input:hover {
  border-color: #fff;
}

.forgot-up-box {
  width: 641px;
  padding: 66px 75px 66px 75px;
  border-radius: 20px;
  border: 2px solid #08ff9654;
  margin: 0 auto 75px auto;
  background-color: #141414;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #08ff96;
  z-index: 1;
  position: relative;
}

.forgot-up-box::before {
  content: "";
  position: absolute;
  width: 641px;
  height: 415px;
  background-color: #000;
  box-shadow: 0 0 10px rgb(8, 8, 8);
  animation: animate 4s linear infinite;
  margin: 0 auto;
}

.forgot-up-box::after {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: #000;
  border: 3px solid #08ff96;
  z-index: -1;
  border-radius: 16px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
