.tournament-banner-section {
  background: url("../../assets/images/register-bg-img.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 504px;
  align-items: center;
}
.ant-tabs-tab {
  height: 41px !important;
  padding: 14px 25px 14px 25px !important;
  gap: 10px;
  color: #fff !important;
}
.ant-tabs-tab-active {
  background-color: #08ff96 !important;
  border: none !important;
  border-bottom: none !important;
  padding: 25px !important;
  color: #141414 !important;
}
.ant-tabs-ink-bar-animated {
  display: none !important;
}
.ant-tabs-tab-btn {
  color: #fff;
}
.all-tournament-tab-section {
  display: flex;
  justify-content: center;
}

.font-english .ant-tabs-tab-btn {
  font-family: "Anybody", "sans-serif";
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize;
}
.font-arabic .ant-tabs-tab-btn {
  font-family: "Alexandria", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000 !important;
}
.ant-tabs-nav::before {
  display: none;
}

.past-tournament-section {
  padding-bottom: 100px;
}

.all-tournament-tab-section .ant-tabs-nav-wrap {
  padding-bottom: 100px;
}
.font-english .active-tab-key {
  font-family: "Anybody";
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.font-arabic .active-tab-key {
  font-family: "Alexandria", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
