.result-banner-section {
  background: url("../../assets/images/register-bg-img.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 504px;
}

.font-english .score-submission-score {
  width: 86px;
  height: 86px;
  border-radius: 100%;
  background-color: #08ff96;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anybody";
  font-size: 41.63px;
  font-weight: 700;
  line-height: 43.09px;
  text-align: left;
}

.font-arabic .score-submission-score {
  width: 86px;
  height: 86px;
  border-radius: 100%;
  background-color: #08ff96;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alexandria", sans-serif;
  font-size: 41.63px;
  font-weight: 700;
  line-height: 43.09px;
  text-align: left;
}
.font-english .result-now-title {
  color: #fff;
  font-size: 48px;
  font-family: "Anybody";
  text-transform: uppercase;
  line-height: 59px;
  margin-top: 162px;
  margin-bottom: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-arabic .result-now-title {
  color: #fff;
  font-size: 48px;
  font-family: "Alexandria", sans-serif;
  text-transform: uppercase;
  line-height: 59px;
  margin-top: 162px;
  margin-bottom: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-tab-section {
  margin-top: 90px;
  margin-bottom: 43px;
}

.ant-tabs-tab {
  height: 41px !important;
  padding: 14px 25px 14px 25px !important;
  gap: 10px;
  color: #fff !important;
  position: relative;
}
.ant-tabs-tab-active {
  background-color: #08ff96 !important;
  border: none !important;
  border-bottom: none !important;
  padding: 25px !important;
  color: #141414 !important;
}

.ant-tabs-tab-active {
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translate(223%);
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #08ff96 transparent;
    transform: rotate(180deg);
  }
}

.ant-tabs-ink-bar-animated {
  display: none !important;
}
.ant-tabs-tab-btn {
  color: #fff !important;
}

.ant-tabs-nav::before {
  display: none;
}

.font-english .ant-tabs-tab-btn {
  font-family: "Anybody", "sans-serif";
  font-size: 23px;
  font-weight: 700;
  line-height: 20px;

  padding: 20px 0;
}
.font-arabic .ant-tabs-tab-btn {
  font-family: "Alexandria", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 20px;
  padding: 20px 0;
}
