.ant-modal-footer .ant-btn-primary {
  background-color: #08ff96 !important;
  color: #141414 !important;
}

.ant-modal {
  background-color: #141414;
  color: #fff;
}

.custom-modal {
  background-color: #141414;
  color: #fff;
}
