* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* index.css */
.font-arabic {
  font-family: "Alexandria", sans-serif;
}

.font-english {
  font-family: "Anybody", sans-serif;
}

.lazy-loading {
  color: #fff;
  text-align: center;
}
