@import "sweetalert2/src/sweetalert2.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* index.css */
.font-arabic {
  font-family: "Alexandria", sans-serif;
}

.font-english {
  font-family: "Anybody", sans-serif;
}

.lazy-loading {
  color: #fff;
  text-align: center;
}

.ant-tabs-tab-active {
  background-color: #08ff96 !important;
  border: none !important;
  border-bottom: none !important;
  padding: 25px !important;
  color: #141414 !important;
}
