.font-english .report-submit-btn {
  width: 130px;
  height: 57px;
  gap: 10px;
  border-radius: 5px;
  font-family: "Anybody";
  font-size: 16px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  background-color: #08ff96;
  color: #141414;
}
.font-english .report-submit-btn:hover {
  width: 130px;
  height: 57px;
  gap: 10px;
  border-radius: 5px;
  font-family: "Anybody";
  font-size: 16px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  background-color: #08ff96 !important;
  background: #08ff96 !important;
  color: #141414 !important;
}
.font-arabic .report-submit-btn {
  width: 130px;
  height: 57px;
  gap: 10px;
  border-radius: 5px;
  font-family: "Alexandria", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  background-color: #08ff96 !important;
  color: #141414 !important;
}

.font-arabic .report-submit-btn:hover {
  width: 130px;
  height: 57px;
  gap: 10px;
  border-radius: 5px;
  font-family: "Alexandria", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  background-color: #08ff96 !important;
  background: #08ff96 !important;
  color: #141414 !important;
}
.ant-modal-title {
  font-size: 24px !important;
}
